/*1. General Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #80b5d4;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

p {
  white-space: nowrap;
}

span {
  font-size: 1rem;
}

main {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-top: .7em;
}

hr {
  background-color: black;
  border-color: black;
  width: 100%;
}

/* 2. Utilities */
.grid-span-3 {
  grid-column: span 3;
}

.grid-span-2 {
  grid-column: span 2;
}

/* 3. Input */
.input {
  text-align: center;
  min-width: 100%;
}

.input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.city-input {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: .2em 0 0 .2em;
  border-right: none;
  border: none;
  outline: none;
  padding: .5em;
}

.input button {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 .2em .2em 0;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

/* 4. Output */
.output {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 1em;
  max-width: 100%;
  min-height: 100%;
  padding: 1em 1em;
}

.output hr {
  margin: .5em 0;
}

.city-name {
  font-weight: normal;
  line-height: .7em;
  text-align: center;
}

.temperature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

.temperature > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.temp {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.description-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.output p:nth-child(n + 5) {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: 1em;
}

@media (max-width: 700px) {
  .output {
    font-size: 1.1rem;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .temp {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  .output {
    font-size: .9rem;
    padding: 1em .1em;
  }
  .output span {
    font-size: .7rem;
  }
  .output .temp {
    font-size: 3rem;
  }
}

/* 5. Hourly */
.hourly-forcast,
.daily-forcast {
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 35em;
  text-align: start;
  padding: 1em 1em;
  border-radius: 12px;
}

.hourly,
.daily {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 2em;
  font-size: 1.2rem;
  padding: 1em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hourly-card,
.daily-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

.hourly-temp,
.daily-temp {
  font-size: 2rem;
  color: #005090;
  font-weight: none;
}

.daily-min {
  font-size: 1.2rem;
}

@media (max-width: 750px) {
  .hourly-forcast h2,
  .daily-forcast h2 {
    font-size: 1rem;
  }
  .hourly,
  .daily,
  .daily-min {
    font-size: 1rem;
  }
  .hourly img,
  .daily img {
    max-height: 50px !important;
    max-width: 50px !important;
  }
  .hourly-temp,
  .daily-temp {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .hourly-forcast,
  .daily-forcast {
    min-width: 20em;
  }
  .hourly,
  .daily {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 385px) {
  .hourly-forcast h2,
  .daily-forcast h2,
  .hourly h2,
  .daily h2,
  .daily-min h2 {
    font-size: .8rem;
  }
  .hourly,
  .daily,
  .daily-min {
    font-size: .8rem;
  }
  .hourly-temp,
  .daily-temp {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */