/*$color-gray: rgb(240, 240, 240);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-size: 2rem;
} 

.wrapper {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.input {
 display: flex;
 //gap: .5rem;
}

.city {
    padding: .5rem;
    width: 600px;
    background: $color-gray;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
}

.submit {
    min-height: 50px;
    padding: 0 2rem;
    background: $color-gray;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
}

.output {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5em;
    padding: 5rem;
    text-align: center;
    background: $color-gray;
    flex-direction: column;
}

span {
    font-size: 1rem;
}*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url(/images/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.grid-container {
  margin-top: .7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 3em;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.city-input {
  border: none;
  background: #b4b4b4;
  border-right: none;
  padding: 1em;
  border-radius: .2em 0 0 .2em;
  outline: none;
}

.input button {
  border: none;
  background: white;
  background: #b4b4b4;
  border-radius: 0 .2em .2em 0;
  cursor: pointer;
  font-size: 2rem;
}

/*output*/
.output {
  min-width: 30%;
  min-height: 100%;
  padding: 1em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-items: start;
  background: rgba(255, 255, 255, 0.4);
}

span {
  font-size: 1rem;
}

.city-name {
  -ms-grid-column-align: center;
      justify-self: center;
  grid-column: span 2;
  font-weight: normal;
  line-height: .7em;
  text-align: center;
}

.icon-description {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: end;
}

.temp {
  line-height: .8em;
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: .1em;
}

.icon {
  height: 64px;
  width: 64px;
}

hr {
  width: 100%;
  grid-column: span 2;
  border-color: black;
  background-color: black;
}

.description,
.city-name {
  font-size: 1.7rem;
}

.max-min {
  font-size: 1.5rem;
}

.sunrise-sunset {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.3rem;
}

.weather-details {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.3em;
}

/*hourly*/
.hourly {
  justify-self: center;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 0 .5em;
  background: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
}

.card p {
  white-space: nowrap;
}

.hourly-temp {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */